boto3
botocore
decorator
elevenlabs
emoji
Flask
fsspec
greenlet
gTTS
instaloader
markdown-it-py
Pillow
playwright
prawcore
prompt-toolkit
pydantic
pyee
pygame
rich
s3transfer
setuptools
spacy
thinc
tokenizers
tomlkit
torch
transformers
translators
trio
typer
Unidecode
urllib3
yt-dlp